/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

header h1 {
    margin-bottom: 5px;
}

header p {
    margin-bottom: 20px;
}

/* Menu */



/* Main */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form button {
    padding: 10px;
    font-size: 16px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
}
